{% extends 'base.html' %}
{% block title %}U/Nord tools | Om denne webside!{% endblock %}
{% block content %}
    <h1>Om denne webside</h1>
    Denne side er lavet med Python 3.9 med følgende moduler:<br/>
   <ul>
<li>arabic-reshaper==2.1.3</li>
<li>asgiref==3.3.4</li>
<li>boto3==1.17.79</li>
<li>botocore==1.20.79</li>
<li>dj-database-url==0.5.0</li>
<li>Django==3.2.3</li>
<li>django-easy-pdf3==0.1.2</li>
<li>django-heroku==0.3.1</li>
<li>django-storages==1.11.1</li>
<li>django-tinymce==3.3.0</li>
<li>djangorestframework==3.12.4</li>
<li>future==0.18.2</li>
<li>gunicorn==20.1.0</li>
<li>html5lib==1.1</li>
<li>jmespath==0.10.0</li>
<li>Pillow==8.2.0</li>
<li>psycopg2==2.9.1</li>
<li>PyPDF2==1.26.0</li>
<li>python-bidi==0.4.2</li>
<li>python-dateutil==2.8.1</li>
<li>python-decouple==3.4</li>
<li>pytz==2021.1</li>
<li>reportlab==3.5.68</li>
<li>s3transfer==0.4.2</li>
<li>six==1.16.0</li>
<li>sqlparse==0.4.1</li>
<li>urllib3==1.26.4</li>
<li>webencodings==0.5.1</li>
<li>whitenoise==5.2.0</li>
<li>xhtml2pdf==0.2.5</li>
<li>xlsxwriter==1.4.5</li>

   </ul>

    Github kode findes her: <a href="https://github.com/Reventlow/unord-tools" class="btn btn-primary btn-sm" target="_blank" tabindex="-1" role="button"
               aria-disabled="true">https://github.com/Reventlow/unord-tools</a>

{% endblock %}