<script>

    // Create now datatime and format it yyyy-mm-dd hh:mm
    let now = new Date();
    let nowFormatted = now.getFullYear() + '-' + (now.getMonth() + 1) + '-' + now.getDate() + ' ' + now.getHours() + ':' + now.getMinutes();


    let switchElementInputGroupSelectFirstname = document.getElementById('id_flexSwitchCheckFirstName');
    let switchElementInputGroupSelectLastname = document.getElementById('id_flexSwitchCheckLastName');

    let selectElementInputGroupSelectFirstname = document.getElementById('id_inputGroupSelectFirstname');
    let selectElementInputGroupSelectLastname = document.getElementById('id_inputGroupSelectLastname');

    // Get submit button
    let submitButton = document.getElementById('id_submitButton');



    switchElementInputGroupSelectFirstname.checked = false;
    selectElementInputGroupSelectFirstname.disabled = true;
    selectElementInputGroupSelectFirstname.hidden = true;

    switchElementInputGroupSelectLastname.checked = false;
    selectElementInputGroupSelectLastname.disabled = true;
    selectElementInputGroupSelectLastname.hidden = true;

    switchElementInputGroupSelectFirstname.onchange = function() {
        if (this.checked) {
            selectElementInputGroupSelectFirstname.disabled = false;
            selectElementInputGroupSelectFirstname.hidden = false;
            if (selectElementInputGroupSelectFirstname.value === '0') {
                submitButton.disabled = true;
           } else {
                submitButton.disabled = false;
         }
        }
         else {
            selectElementInputGroupSelectFirstname.disabled = true;
            selectElementInputGroupSelectFirstname.hidden = true;
        }
    };


    switchElementInputGroupSelectLastname.onchange = function() {
        if (this.checked) {
            selectElementInputGroupSelectLastname.disabled = false;
            selectElementInputGroupSelectLastname.hidden = false;
            if (selectElementInputGroupSelectLastname.value === '0') {
                submitButton.disabled = true;
           } else {
                submitButton.disabled = false;
         }
        }
         else {
            selectElementInputGroupSelectLastname.disabled = true;
            selectElementInputGroupSelectLastname.hidden = true;
        }
    };

</script>