
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-info" href="{% url 'sms_app_Message_list' %}">SMS liste</a>
    <a class="btn btn-info" href="{% url 'sms_app_Message_Dashboard' %}">SMS behdlings status</a>
</p>
    
<table class="table">
    <tr><td><h2>SMS id: </h2></td><td><h2>{{ object.id }}</h2></td></tr>
    <tr><td>Login bruger: </td><td>{{ object.user }}</td></tr>
    <tr><td>Email: </td><td>{{ object.email }}</td></tr>
    <tr><td>Email valideret: </td>
        <td>
            {% if object.validated_by_email %}
                <p class="text-success">Email valideret af brugeren</p>
            {% else %}
                <p class="text-danger">Email mangler at blive valideret af brugeren</p>
            {% endif %}
        </td></tr>
    <tr><td>Tidspunkt den skal sendes</td><td>{{ object.time_to_send|date:'d/m-Y H:i' }}</td></tr>
    <tr><td>Besked der skal sendes:</td><td>{{ object.message|linebreaks  }}</td></tr>
    <tr><td>Er sms'erne afsendt</td><td>
            {% if object.completed %}
                <p class="text-success">Alle sms er afsendt</p>
            {% else %}
                <p class="text">Er ikke behandlet inu.</p>
            {% endif %}
        </td></tr>
    </td></tr>
    <tr><td>Link kode:</td><td>{{ object.link_code }}</td></tr>
    <tr><td>last_updated</td><td>{{ object.last_updated }}</td></tr>
    <tr><td>created</td><td>{{ object.created }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Rediger</a>

     {% if object_list_recipient_list %}
        <table class="table">
            <tr class="table-dark">

                  <td>
                    Mobil nr.
                </td>
                <td>
                    <center>Fornavn</center>
                </td>
                <td>
                    <center>Efternavn</center>
                </td>

                <td>
                    <center>Slet</center>
                </td>
            </tr>
             {% for object in object_list_recipient_list %}


                            <tr>




                    <td><strong>{{ object.mobile_number }}</strong><br/>

                        <small>


                        <a href="{{ object.get_absolute_url }}"
                                               class="badge rounded-pill bg-dark">Detaljer</a> <a href="{{ object.get_update_url }}"
                                             class="badge rounded-pill bg-dark">Rediger</a> </small>





                    </td>

                     <td>
                    <center>{{ object.first_name }} </center>
                </td>


                 <td>
                    <center>{{ object.last_name }}</center>
                </td>

                 <td>
                    <center>{{ object.eval_sent_state.state }}</center>
                </td>


                    <td>

                        <a href="{% url 'sms_app_Recipient_delete' object.pk %}"  class="btn btn-danger btn-sm "
                                   tabindex="-1" role="button" aria-disabled="true">Slet</a></center>
                    </td>
                </tr>

            {% endfor %}
        </table>
    {% endif %}

{% endblock %}