{% extends "base.html" %}
{% load static %}
{% block content %}

<p>
    <a class="btn btn-primary" href="{% url 'sms_app_Message_list' %}">SMS liste</a>
    <a class="btn btn-success" href="{% url 'sms_app_Message_Dashboard' %}">SMS behdlings status</a>
</p>

<table class="table">
    <tr><td>Mobil nr.</td><td>{{ object.mobile_number }}</td></tr>

    <tr><td>Fornavn</td><td>{{ object.first_name }}</td></tr>
    <tr><td>Efternavn</td><td>{{ object.last_name }}</td></tr>
    <tr><td>Afsendt</td><td>{% if object.sent %}Ja{% else %}Nej{% endif %}</td></tr>


<tr><td>Sidst Redigeret</td><td>{{ object.last_updated|date:'d/m-Y H:i' }}</td></tr>
<tr><td>Oprettede</td><td>{{ object.created|date:'d/m-Y H:i' }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Rediger</a> <a class="btn btn-danger" href="{% url 'sms_app_Recipient_delete' object.pk %}">Slet</a>

{% endblock %}