
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'sms_app_Recipient_list' %}">
    Recipient Listing
    </a>
</p>
    
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{form.errors}}
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="created">created: </label>
      <input class="form-control col-sm-10"
         id="created" type="datetime-local"
         name="created" value="{{ object.created }}" disabled>
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="mobile_number">mobile_number: </label>
      <input class="form-control col-sm-10"'
         id="mobile_number" type="text"
         name="mobile_number" value="{{ object.mobile_number }}">
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="last_updated">last_updated: </label>
      <input class="form-control col-sm-10"
         id="last_updated" type="datetime-local"
         name="last_updated" value="{{ object.last_updated }}" disabled>
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="sent">sent: </label>
      <input class="form-control col-sm-10"'
         id="sent" type="text"
         name="sent" value="{{ object.sent }}">
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="message">message: </label>
      {{ form.message }}
  </div>
  <input type="submit" value="Save" class="btn btn-primary">
</form>

{% endblock %}