
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <div class="m-2"><a class="btn btn-primary" href="{% url 'sms_app_Message_list' %}">Se SMS list</a> <a class="btn btn-primary" href="{% url 'sms_app_Message_Dashboard' %}">Se SMS behandlings kø</a> <a class="btn btn-success" href="{% url 'sms_app_UploadSms_list' %}">Upload excel ark</a></div>

</p>
    
    <form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{form.errors}}
     <script src="//code.jquery.com/jquery.min.js"></script>
{{ form.media }}
 {{ form.as_p }}
<input type="submit" value="Gem" class="btn btn-primary">
    </form>
{% endblock %}

