
{% extends "base.html" %}
{% block content %}
    <p>
    <a class="btn btn-primary" href="{% url 'sms_app_Message_list' %}">SMS liste</a>
    <a class="btn btn-primary" href="{% url 'sms_app_Message_Dashboard' %}">SMS behdlings status</a>
</p>
    <h1>Slet</h1>
<form method="post">
  {% csrf_token %}

  <p>Er du sikker på du vil slette "{{ object.mobile_number }}, {{ object.first_name }}, {{ object.last_name }}"?</p>
  <div>
    <input class="btn btn-danger" value="Slet" type="submit">
  </div>
</form>
{% endblock %}
