{% extends "base.html" %}
{% load static %}
{% block content %}

<p>
    <a class="btn btn-light" href="{% url 'sms_app_Recipient_list' %}">
    Upload besked
    </a>
</p>

    <table class="table table-borderless">
  <tr>
      <td width="60%">
          <form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{form.errors}}
<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Dit brugernavn" aria-label="Dit brugernavn" aria-describedby="basic-addon2">
  <span class="input-group-text" id="basic-addon2">@unord.dk</span>
</div>
              <div class="container">
  <div class="row row-cols-3">
      <div class="col">
                <div class="input-group mb-3">
    <div class="form-check form-switch">
  <input class="form-check-input" type="checkbox" id="flexSwitchCheckCheckedDisabled" checked disabled>
  <label class="form-check-label" for="flexSwitchCheckCheckedDisabled">Mobil nummer kolonne</label></div>
  <input type="text" class="form-control" aria-label="Mobil kolonne" maxlength="1" size="4></div></div>
</div>
<div class="col">
              <div class="input-group mb-3">
    <div class="form-check form-switch">
  <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
  <label class="form-check-label" for="flexSwitchCheckDefault">Fornavn kolonne</label></div>
  <input type="text" class="form-control" aria-label="Fornavn kolonne" maxlength="1" size="4></div>
</div><div class="col">
              <div class="input-group mb-3">
    <div class="form-check form-switch">
  <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
  <label class="form-check-label" for="flexSwitchCheckDefault">Efternavn kolonne</label></div>
  <input type="text" class="form-control" aria-label="Efternavn kolonne" maxlength="1" size="4></div>
</div>
  </div>
</div>

<div class="input-group">
  <span class="input-group-text">Din besked</span>
  <textarea class="form-control" aria-label="With textarea"></textarea>
</div>
  <div class="mb-3">
  <label for="formFile" class="form-label">Default file input example</label>
  <input class="form-control" type="file" id="formFile">
</div>
  <input type="submit" value="Save" class="btn btn-primary">
</form>

      </td>
      <td>De ved, når vi spytter, er det hit, hit
Ændrer lyden, det' ikk' same shit
En komma en, og det' sort på hvidt
De var gode nok, indtil I$WAAL sket'
To kontrakter, nu' jeg businessman
De fin' flip flops så wavey som vand
Flyver mod top ligesom Superman
Og jeg' ind' i junglen ligesom Jokerman
De vil pludselig være venner med mig
Glemmer ikk', hvor jeg kommer fra
Har familie, så jeg har et ansvar
Og jeg er der kun for dem, der er der for mig</td>
  </tr>
</table>



{% endblock %}