{% extends "base.html" %}
{% load static %}
{% block content %}
<h1>
Upload excel fil
</h1>


    <table class="table table-borderless">
        <tr>
            <td width="60%">
                <form action="http://10.18.225.150:8001/sms_app/sms_app/ValidateExcel/" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.errors }}
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Dit brugernavn" aria-label="Dit brugernavn"
                               aria-describedby="basic-addon2" id="id_username" name="username" required>
                        <span class="input-group-text" id="basic-addon2">@unord.dk</span>
                    </div>




                                <div class="input-group mb-3">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox"
                                               id="flexSwitchCheckCheckedDisabled" checked disabled>
                                        <label class="form-check-label" for="flexSwitchCheckCheckedDisabled">Mobil
                                            nummer kolonne</label>
                                    </div>
                                </div>


                                <div class=" input-group mb-3">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" id="id_flexSwitchCheckFirstName">
                                        <label class="form-check-label" for="flexSwitchCheckFirstName">Fornavn
                                            kolonne</label>
                                    </div>
                                </div>


                                <div class=" input-group mb-3">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" id="id_flexSwitchCheckLastName">
                                        <label class="form-check-label" for="flexSwitchCheckLastName">Efternavn
                                            kolonne</label>
                                    </div>
                                </div>

<div class="input-group mb-3">
  <label class="input-group-text" for="id_inputGroupSelectMobile">Mobil nummer</label>
  <select class="form-select" id="id_inputGroupSelectMobile" name="inputGroupSelectMobile" required>
    <option value="0" selected>Angiv Kolonne</option>
    <option value="A">A</option>
    <option value="B">B</option>
    <option value="C">C</option>
    <option value="D">D</option>
    <option value="E">E</option>
    <option value="F">F</option>
    <option value="G">G</option>
    <option value="H">H</option>
    <option value="I">I</option>
    <option value="J">J</option>
    <option value="K">K</option>
    <option value="L">L</option>
    <option value="M">M</option>
    <option value="N">N</option>
    <option value="O">O</option>
    <option value="P">P</option>
    <option value="Q">Q</option>
    <option value="R">R</option>
    <option value="S">S</option>
    <option value="T">T</option>
    <option value="U">U</option>
    <option value="V">V</option>
    <option value="X">X</option>
    <option value="Y">Y</option>
    <option value="Z">Z</option>
  </select>
</div>

                    <div class="input-group mb-3">
  <label class="input-group-text" for="inputGroupSelect01">Fornavn</label>
  <select class="form-select" id="id_inputGroupSelectFistName" name="inputGroupSelectFistName">
    <option value="0" selected>Angiv Kolonne</option>
    <option value="A">A</option>
    <option value="B">B</option>
    <option value="C">C</option>
    <option value="D">D</option>
    <option value="E">E</option>
    <option value="F">F</option>
    <option value="G">G</option>
    <option value="H">H</option>
    <option value="I">I</option>
    <option value="J">J</option>
    <option value="K">K</option>
    <option value="L">L</option>
    <option value="M">M</option>
    <option value="N">N</option>
    <option value="O">O</option>
    <option value="P">P</option>
    <option value="Q">Q</option>
    <option value="R">R</option>
    <option value="S">S</option>
    <option value="T">T</option>
    <option value="U">U</option>
    <option value="V">V</option>
    <option value="X">X</option>
    <option value="Y">Y</option>
    <option value="Z">Z</option>
  </select>
</div>

                    <div class="input-group mb-3">
  <label class="input-group-text" for="inputGroupSelect01">Efternavn</label>
  <select class="form-select" id="id_inputGroupSelectLastName" name="inputGroupSelectLastName">
    <option value="0" selected>Angiv Kolonne</option>
    <option value="A">A</option>
    <option value="B">B</option>
    <option value="C">C</option>
    <option value="D">D</option>
    <option value="E">E</option>
    <option value="F">F</option>
    <option value="G">G</option>
    <option value="H">H</option>
    <option value="I">I</option>
    <option value="J">J</option>
    <option value="K">K</option>
    <option value="L">L</option>
    <option value="M">M</option>
    <option value="N">N</option>
    <option value="O">O</option>
    <option value="P">P</option>
    <option value="Q">Q</option>
    <option value="R">R</option>
    <option value="S">S</option>
    <option value="T">T</option>
    <option value="U">U</option>
    <option value="V">V</option>
    <option value="X">X</option>
    <option value="Y">Y</option>
    <option value="Z">Z</option>
  </select>
</div>
                    <p>
<div class="input-group">
                    <span class="input-group-text">Hvornår skal smserne sendes</span>

<input class="form-control" type="datetime-local" id="id_sms-send" name="sms_send" min="2023-01-08T19:30" required>

                </div><br>
<div class="input-group">
                                <span class="input-group-text">Din besked</span>
                                <textarea class="form-control" aria-label="With textarea" id="id_message" name="message"  required></textarea>
                                </div>




                    <br>
                                <div class="mb-3">
                                    <label for="file" class="form-label">Excel fil der skal uploades- Tager kun imod .xlsx filer</label>
                                    <input class="form-control" type="file" id="file" name="file" accept=".xlsx" required>
                                </div><br>
                                <input type="submit"  value="Gem" class="btn btn-primary" id="id_submitButton">
                </form>

            </td>
            <td><div>
                <h3>Mobil nummer</h3>
                <p>Din kolonne med mobil skal bestå af ciffre uden mellemrum eller +45.</p><div>
                <h3>Besked felt</h3>
                <p>Der skriver du den ønskede tekst du gerne vil have modtagerne skal modtage som tekst.</p>
                <p>Hvis du gerne vil have at de skal deres fornavn skal du skrive {fornavn] i din besked.</p>
                <p>Hvis du gerne vil have at de skal deres efternavn skal du skrive {efternavn] i din besked.</p>
                <p class="text-success">
                    eks:<br>
                    Kære {fornavn} {efternavn}<br>
                    Vi glæder os til at se dig i morgen kl. 10.00<br><br>

                    Venlig hilsen<br>
                    Anders Andersen<br>
                    Rektor U/NORD<br><br>

                    Denne sms kan ikke besvares. Ved spørgsmål ring til vores reception på 12345678
                </p>

            </div>
            </td>
        </tr>
    </table>


{% include 'import_excel_jscript.html' %}
{% endblock %}