{% extends 'base.html' %}
{% block title %}U/Nord elev evaluering | Skift din adgangskode{% endblock %}
{% block content %}
    <div class="col-6 col-md-4 offset-md-3">
        <h2>
            Skift din adgangskode
        </h2>
        <form method="POST" action="{% url 'change_password' %}">
            {% csrf_token %}
            {% if form.errors %}
                <div class="alert alert-danger  alert-dismissible fade show" role="alert">
                    <p> Der er fejl i formen</p>
                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                            aria-label="Close"></button>
                </div>
            {% endif %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-secondary">Skift din adgangskode</button>
        </form>
    <br/><br/>
    <div class="alert alert-primary" role="alert">
  Du bliver logget ud efter du skifter adgangskode
</div>

    </div>




{% endblock %}